h1 {
	font-size: 3.2rem;
	font-weight: 700;
	text-align: center;
	margin: 2rem 0;
}

h2 {
	font-size: 2.4rem;
	font-weight: 400;
	text-align: center;
	margin: 2rem 0;
}

.board-container {
	display: flex;
	align-self: center;
	justify-content: center;
}

.board {
	width: 600px;
	height: 600px;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	border: 3px solid #0a0a0a;
}

.square {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.square.valid-move {
	position: relative;
	cursor: pointer;
}

.square.valid-move::after {
	content: "";
	position: absolute;
	width: 35%;
	height: 35%;
	border-radius: 999px;
	background-color: black;
	opacity: 30%;
	pointer-events: none;
}

.tower {
	width: 80%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.2rem;
	font-weight: 600;
	border-radius: 999px;
	cursor: default;
	user-select: none;
	transition: all 0.3s ease;
}

.tower.player-1 {
	background-color: white;
}

.tower.player-2 {
	background-color: black;
}

.tower.selected {
	transform: scale(1.1);
}
